#install4j response file for AppDynamics Controller 

sys.languageId=en
sys.installationDir=/opt/appdynamics/Controller
realDataDir=/data/db
elasticSearchDataDir=/opt/appdynamics/Controller/events_service/analytics-processor
mysqlRootUserPassword={{mysql_root_password}}
rootUserPassword={{root_password}}
userName={{first_username}}
password={{first_password}}
iiopPort=3700
jmsPort=7676
databasePort=3388
restAPIPort=9080
serverPort=8090
elasticSearchPort=9200
adminPort=4848
sslPort=4443
restAPIAdminPort=9081
serverHostName={{controller_Host}}
controllerTenancyMode={{controller_Tenancy_Mode}}
controllerConfig={{controller_Config}}
haControllerType={{ha_Controller_Type}}
sys.adminRights$Boolean=false
disableEULA=true
reportingServiceHTTPPort=8020
reportingServiceHTTPSPort=8021
rePassword={{root_password}}
rootUserPassword={{root_password}}
accountName={{appd_account_name}}
