#install4j response file for AppDynamics Controller

sys.adminRights$Boolean=false
sys.languageId=en
euem.InstallationMode=production-controller-setup
euem.Host={{euem_Host}}
controller.Host={{controller_Host}}
sys.installationDir=/opt/appdynamics/EUEM
controller.installationDir=/opt/appdynamics/Controller
euem.initialHeapXms=1024
euem.maximumHeapXmx=4096
euem.httpPort=7001
euem.httpsPort=7002
mysql.databasePort=3388
mysql.databaseRootUser={{mysql_databaseRootUser}}
mysql.dbHostName={{mysql_dbHostName}}
eumDatabasePassword={{eum_Database_Password}}
eumDatabaseReEnterPassword={{eum_Database_Password}}
keyStorePassword={{key_Store_Password}}
keyStorePasswordReEnter={{key_Store_Password}}
mysqlRootUserPassword={{mysql_root_password}}
eventsService.isEnabled$Boolean=true
eventsService.serverScheme=http
eventsService.port=9080
